<!DOCTYPE html>
<html>
<head>
  <title>Güvenli Not Uygulaması</title>
</head>
<body>
  <h1>Hoş geldiniz!</h1>
  <p><a href="/login">Giriş Yap</a> veya <a href="/register">Kayıt Ol</a></p>
</body>
</html>
